/* Form and Error */
.ms-form-label {
    border-bottom: 1px solid #969696;
    color: #969696;
    padding-bottom: 3px;
    text-transform: uppercase;
    width: 100%;
}

.ms-label-icon {
    border-bottom: 1px solid #969696;
    padding-bottom: 3px;
    position: absolute;
}

.ms-form-input:focus {
    border: 2px solid #303f9f;
}

.ms-form-submit {
    font-weight: bold;
    height: 35px;
    margin-top: 25px;
    padding: 0;  
}

.ms-error {
    color: #f33e3e;
    margin-top: 25px;
    text-align: center;
}

/* Result */
.ms-result {
    padding-bottom: 10px;
}

.ms-result-msg, .ms-new-game {
    font-size: 4vw;
    text-align: center;
}

.ms-new-game > button{
    font-size: 3vw;
}

@media (min-width: 768px) {
    .ms-form {
        margin-top: 30px;
    }

    .ms-result {
        margin-bottom: 20px;
        padding: 15px 0;
    }
}