/* Overrides */
#root, .App, body, html, .container-fluid {
    height: 100%;
}

.App {
    background: #f2f2f2;
    overflow: auto;
}

.container-fluid {
    background: #f2f2f2;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 0;
}

.col-md-3 {
    padding: 0;
}

.btn, .btn:hover {
    background: rgb(249, 170, 169);
    border-radius: 0;
    text-transform: uppercase;
}

.btn:hover {
    opacity: 0.8;
}

/* Header and Utility */
.ms-header {
    padding: 10px 0;
}

.ms-title {
    font-weight: bolder;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: opacity 0.8s ease-out;
    -ms-transition: opacity 0.8s ease-out;
    -moz-transition: opacity 0.8s ease-out;
    -webkit-transition: opacity 0.8s ease-out;
}
